<div class="d-flex flex-column min-vh-100">
    <app-nav></app-nav>
    <div class="container-fluid flex-grow-1" style="margin-top: 20px;">
        <div class="row align-items-center">
            <div class="col text-center">
                <div class="title-recomendados" style="text-align: center; font-size: 50px; margin-top: 30px;">Mi perfil</div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid flex-grow-1">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <div class="logo-perfil">
                    <img src="assets/img/nav/usuario.png" alt="perfil-logo">
                </div>
                <div id="username" class="txt-username"><strong>{{ usuarioLogeado?.username }}</strong></div>
            </div>
        </div>
    
        <div class="text-center my-3">
            <button class="btn btn-primary" (click)="toggleEditar()">
                {{ editando ? 'Guardar Cambios' : 'Editar Perfil' }}
            </button>
            <button class="btn btn-secondary ms-2" *ngIf="editando" (click)="cancelarEdicion()">Cancelar</button>
        </div>
    
        <div class="container contenedor-perfil">
            <div class="row g-3 justify-content-center">
                <div class="col-auto">
                    <p style="font-weight: 500;">Nombres</p>
                    <div id="nombres-usuario" class="campos-perfil">
                        <strong *ngIf="!editando">{{ usuarioLogeado?.nombres }}</strong>
                        <input
                            *ngIf="editando && usuarioLogeado"
                            type="text"
                            [(ngModel)]="usuarioLogeado.nombres"
                            class="form-control"
                        />
                    </div>
                </div>
                <div class="col-auto">
                    <p>Apellidos</p>
                    <div id="apellidos-usuario" class="campos-perfil">
                        <strong *ngIf="!editando">{{ usuarioLogeado?.apellidos }}</strong>
                        <input
                            *ngIf="editando && usuarioLogeado"
                            type="text"
                            [(ngModel)]="usuarioLogeado.apellidos"
                            class="form-control"
                        />
                    </div>
                </div>
            </div>
    
            <div class="row g-3 justify-content-center">
                <div class="col-auto">
                    <p>Correo</p>
                    <div id="correo" class="campos-perfil">
                        <strong *ngIf="!editando">{{ usuarioLogeado?.correo }}</strong>
                        <input
                            *ngIf="editando && usuarioLogeado"
                            type="email"
                            [(ngModel)]="usuarioLogeado.correo"
                            class="form-control"
                        />
                    </div>
                </div>
                <div class="col-auto">
                    <p>Fecha Nacimiento</p>
                    <div id="fecha-nacimiento" class="campos-perfil">
                        <strong *ngIf="!editando">{{ usuarioLogeado?.fecha_nacimiento }}</strong>
                        <input
                            *ngIf="editando && usuarioLogeado"
                            type="date"
                            [(ngModel)]="usuarioLogeado.fecha_nacimiento"
                            class="form-control"
                        />
                    </div>
                </div>
                <div class="col-auto" *ngIf="usuarioLogeado?.domicilio != ''">
                    <p>Domicilio</p>
                    <div id="domicilio" class="campos-perfil">
                        <strong *ngIf="!editando">{{ usuarioLogeado?.domicilio }}</strong>
                        <input
                            *ngIf="editando && usuarioLogeado"
                            type="text"
                            [(ngModel)]="usuarioLogeado.domicilio"
                            class="form-control"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <div
                    class="alert alert-success text-center"
                    role="alert"
                    *ngIf="mensajeExitoso"
                >
                    Guardado Exitoso
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">Todos los derechos reservados</footer>
</div>


