<app-nav></app-nav>

<div class="container-fluid" style="margin-top: 20px;">
    <div class="row align-items-center">
        <div class="col text-center">
            <div class="title-recomendados" style="text-align: center; font-size: 50px; margin-top: 30px;">Mi perfil</div>
        </div>
    </div>
</div>
<!-- Logo perfil -->
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
            <div class="logo-perfil">
                <img src="assets/img/nav/usuario.png" alt="perfil-logo">
            </div>
            <div id="username" class="txt-username">{{ usuarioLogeado?.username }}</div>
        </div>
    </div>
    <!-- Datos de perfil -->
    <div class="container contenedor-perfil">
        <div class="row g-3 justify-content-center">
            <div class="col-auto">
                <p>Nombres</p>
                <div id="nombres-usuario" class="campos-perfil">{{ usuarioLogeado?.nombres }}</div>
            </div>
            <div class="col-auto">
                <p>Apellidos</p>
                <div id="apellidos-usuario" class="campos-perfil">{{ usuarioLogeado?.apellidos }}</div>
            </div>
            
        </div>
    </div>
    <div class="row g-3 justify-content-center" style="margin-bottom: 180px;">
        <div class="col-auto">
            <p>Correo</p>
            <div id="correo" class="campos-perfil">{{ usuarioLogeado?.correo }}</div>
        </div>
        <div class="col-auto">
            <p>Fecha Nacimiento</p>
            <div id="fecha-nacimiento" class="campos-perfil">{{ usuarioLogeado?.fecha_nacimiento }}</div>
        </div>
        <div class="col-auto" *ngIf="usuarioLogeado?.domicilio != ''">
            <p>Domicilio</p>
            <div id="domicilio" class="campos-perfil">{{ usuarioLogeado?.domicilio }}</div>
        </div>
    </div>
</div>