<div class="d-flex flex-column min-vh-100">
    <app-nav></app-nav>
    <div class="container-fluid flex-grow-1" style="margin-top: 20px;">
        <div class="row align-items-center">
            <div class="col text-center">
                <div class="title-recomendados" style="text-align: center; font-size: 50px; margin-top: 30px;">Mi perfil</div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid flex-grow-1">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <div class="logo-perfil">
                    <img src="assets/img/nav/usuario.png" alt="perfil-logo">
                </div>
                <div id="username" class="txt-username"><strong>{{ usuarioLogeado?.username }}</strong></div>
            </div>
        </div>
        <form [formGroup]="edicionUsuarioForm">
            <div class="container">
                <div class="row g-3 justify-content-center">
                    <!-- Nombres -->
                    <div class="col-xs-12 col-md-10 col-lg-5">
                    <p style="font-weight: 500;">Nombres</p>
                    <div id="nombres-usuario" class="campos-perfil">
                        <strong *ngIf="!editando">{{ usuarioLogeado?.nombres }}</strong>
                        <input *ngIf="editando" type="text" formControlName="nombres" class="form-control" />
                    </div>
                    </div>

                    <!-- Apellidos -->
                    <div class="col-xs-12 col-md-10 col-lg-5">
                        <p>Apellidos</p>
                    <div id="apellidos-usuario" class="campos-perfil">
                        <strong *ngIf="!editando">{{ usuarioLogeado?.apellidos }}</strong>
                        <input *ngIf="editando" type="text" formControlName="apellidos" class="form-control" />
                    </div>
                    </div>
                </div>

                <div class="row g-3 justify-content-center">
                    <!-- Correo -->
                    <div class="col-xs-12 col-md-10 col-lg-5">
                    <p>Correo</p>
                    <div id="correo" class="campos-perfil">
                        <strong *ngIf="!editando">{{ usuarioLogeado?.correo }}</strong>
                        <input *ngIf="editando" type="email" formControlName="correo" class="form-control" />
                    </div>
                    </div>
            
                    <!-- Fecha de Nacimiento -->
                    <div class="col-xs-12 col-md-10 col-lg-5">
                    <p>Fecha Nacimiento</p>
                    <div id="fecha-nacimiento" class="campos-perfil">
                        <strong *ngIf="!editando">{{ usuarioLogeado?.fecha_nacimiento }}</strong>
                        <input *ngIf="editando" type="date" formControlName="fecha_nacimiento" class="form-control" />
                    </div>
                    </div>
            
                    <!-- Domicilio -->
                    <div class="col-xs-12 col-md-10 col-lg-5" *ngIf="usuarioLogeado?.domicilio">
                    <p>Domicilio</p>
                    <div id="domicilio" class="campos-perfil">
                        <strong *ngIf="!editando">{{ usuarioLogeado?.domicilio }}</strong>
                        <input *ngIf="editando" type="text" formControlName="domicilio" class="form-control" />
                    </div>
                    </div>
                </div>
            </div>
            <!-- Botón para editar y guardar cambios -->
            <div class="row justify-content-center">
                <div class="col">
                    <div class="d-flex justify-content-center mb-4 mt-4">
                        <button
                            *ngIf="!editando"
                            class="btn btn-warning"
                            (click)="editarUsuario()"
                            [disabled]="!usuarioLogeado"
                        >
                        Editar
                        </button>
                        <button
                            *ngIf="editando"
                            class="btn btn-success"
                            (click)="guardarCambios()"
                        >
                        Guardar
                        </button>
                        <button
                            *ngIf="editando"
                            class="btn btn-secondary ms-2"
                            (click)="cancelarEdicion()"
                        >
                        Cancelar
                        </button>
                    </div>
                </div>
                
            </div>
            <!-- Mensaje de éxito -->
            <div *ngIf="mensajeExitoso" class="alert alert-success mt-3">
                Cambios guardados exitosamente.
            </div>
        </form>
    </div>
    <footer class="footer">Todos los derechos reservados</footer>
</div>


