<div class="d-flex flex-column min-vh-100">
    <app-nav></app-nav>
    <div class="container-fluid flex-grow-1" style="margin-top: 40px;">
        <div class="row align-items-center">
            <div class="col">
                <div class="line"></div>
            </div>
            <div class="col-auto">
                <div class="title-recomendados" style="text-align: center; font-size: 40px;">Carrito de Compras</div>
            </div>
            <div class="col">
                <div class="line"></div>
            </div>
        </div>
        <!-- Mostrar productos si el total es distinto de cero -->
        <div class="container-fluid" *ngIf="productosEnCarrito.length > 0; else carritoVacio">
            <div class="row justify-content-center">
                <div class="col-auto m-4">
                    <div class="contenedor-carrito" style="margin: 20px; padding: 40px;">
                        <div style="margin-bottom: 10px;"><strong>Detalles:</strong></div>
                        <div class="text-center" *ngFor="let producto of productosEnCarrito">
                            <img class="mb-3" [src]="producto.imagen" [alt]="producto.titulo" width="100px" height="100px">
                            <p style="text-align: center;">{{ producto.titulo }} - {{ producto.precio | currency }}</p>
                        </div>
                        <div class="carrito-total text-center mt-4">
                            <strong>Total: {{ calcularTotal() | currency }}</strong>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button 
                        class="btn-ver-carrito add-to-cart-btn col-xs-4 col-sm-6 col-md-4 col-lg-4 mx-auto"
                        (click)="goToPago()">
                        Continuar Pago
                    </button>
                </div>
            </div>
        </div>
        <!-- Mostrar mensaje si no hay productos en el carrito -->
        <ng-template #carritoVacio>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-auto m-4">
                        <div class="contenedor-carrito" style="margin: 20px; padding: 40px;">
                            <strong class="text-center">No hay productos en el carrito</strong>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <footer class="footer">Todos los derechos reservados</footer>
</div>