<div class="d-flex flex-column min-vh-100">
    <app-nav></app-nav>
    <div class="container-fluid flex-grow-1" style="margin-top: 20px;">
        <div class="row align-items-center">
            <div class="col">
                <div class="line">
                </div>
            </div>
            <div class="col-auto">
                <div class="title-recomendados" style="text-align: center; font-size: 40px; margin-top: 30px; margin-bottom: 30px;">Lista de Productos</div>
            </div>
            <div class="col">
                <div class="line">
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="productosForm">
        <div class="table-responsive flex-grow-1">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editorial</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let libro of libros">
                    <td>{{ libro.id }}</td>
                    <td>
                    <input 
                        *ngIf="libroEnEdicion && libroEnEdicion.id === libro.id" 
                        formControlName="titulo" 
                        type="text" 
                        class="form-control" 
                    />
                    <span *ngIf="!libroEnEdicion || libroEnEdicion.id !== libro.id">{{ libro.titulo }}</span>
                    </td>
                    <td>
                    <input 
                        *ngIf="libroEnEdicion && libroEnEdicion.id === libro.id" 
                        formControlName="autor" 
                        type="text" 
                        class="form-control" 
                    />
                    <span *ngIf="!libroEnEdicion || libroEnEdicion.id !== libro.id">{{ libro.autor }}</span>
                    </td>
                    <td>
                    <input 
                        *ngIf="libroEnEdicion && libroEnEdicion.id === libro.id" 
                        formControlName="editorial" 
                        type="text" 
                        class="form-control" 
                    />
                    <span *ngIf="!libroEnEdicion || libroEnEdicion.id !== libro.id">{{ libro.editorial }}</span>
                    </td>
                    <td>
                    <input 
                        *ngIf="libroEnEdicion && libroEnEdicion.id === libro.id" 
                        formControlName="precio" 
                        type="number" 
                        class="form-control" 
                    />
                    <span *ngIf="!libroEnEdicion || libroEnEdicion.id !== libro.id">{{ libro.precio | number:'1.0-0' }}</span>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button 
                                [ngClass]="{
                                    'btn-warning': !(libroEnEdicion && libroEnEdicion.id === libro.id),
                                    'btn-success': libroEnEdicion && libroEnEdicion.id === libro.id
                                }"
                                class="btn btn-sm"
                                [ngStyle]="{
                                    'color': 'white'
                                }"
                                (click)="libroEnEdicion && libroEnEdicion.id === libro.id ? guardarCambios() : editarLibro(libro)"
                            >
                                {{ libroEnEdicion && libroEnEdicion.id === libro.id ? 'Guardar' : 'Editar' }}
                            </button>
                            <button 
                                class="btn btn-danger btn-sm ms-2" 
                                (click)="eliminarLibro(libro)"
                            >
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
    
</div>



