<app-nav></app-nav>

<div class="container-fluid" style="margin-top: 20px;">
    <div class="row align-items-center">
        <div class="col">
            <div class="line">
            </div>
        </div>
        <div class="col-auto">
            <div class="title-recomendados" style="text-align: center; font-size: 40px; margin-top: 30px; margin-bottom: 30px;">Lista de Productos</div>
        </div>
        <div class="col">
            <div class="line">
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imagen</th>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">Editorial</th>
                <th scope="col">Precio</th>
                <th scope="col">Reseña</th>
                <th scope="col">Categoria</th>
                <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody id="tabla-productos">
            
        </tbody>
    </table>
</div>