<div class="d-flex flex-column min-vh-100">
    <app-nav></app-nav>
    <div class="container-fluid flex-grow-1" style="margin-top: 20px;">
        <div class="row align-items-center">
            <div class="col">
                <div class="line">
                </div>
            </div>
            <div class="col-auto">
                <div class="title-recomendados" style="text-align: center; font-size: 40px; margin-top: 30px; margin-bottom: 30px;">Lista de Productos</div>
            </div>
            <div class="col">
                <div class="line">
                </div>
            </div>
        </div>
    </div>
    
    <div class="table-responsive flex-grow-1">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editorial</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let libro of libros">
                    <td>{{ libro.id }}</td>
                    <td>
                        <input 
                            *ngIf="libro.enEdicion" 
                            [(ngModel)]="libro.titulo" 
                            type="text" 
                            class="form-control"
                        />
                        <span *ngIf="!libro.enEdicion">{{ libro.titulo }}</span>
                    </td>
                    <td>
                        <input 
                            *ngIf="libro.enEdicion" 
                            [(ngModel)]="libro.autor" 
                            type="text" 
                            class="form-control"
                        />
                        <span *ngIf="!libro.enEdicion">{{ libro.autor }}</span>
                    </td>
                    <td>
                        <input 
                            *ngIf="libro.enEdicion" 
                            [(ngModel)]="libro.editorial" 
                            type="text" 
                            class="form-control"
                        />
                        <span *ngIf="!libro.enEdicion">{{ libro.editorial }}</span>
                    </td>
                    <td>
                        <input 
                            *ngIf="libro.enEdicion" 
                            [(ngModel)]="libro.precio" 
                            type="text" 
                            class="form-control"
                        />
                        <span *ngIf="!libro.enEdicion">{{ libro.precio }}</span>
                    </td>
                    <td>
                        <button 
                            *ngIf="!libro.enEdicion" 
                            (click)="editarLibro(libro)" 
                            class="btn btn-primary btn-sm"
                        >
                            Editar
                        </button>
                        <button 
                            *ngIf="libro.enEdicion" 
                            (click)="guardarLibro(libro)" 
                            class="btn btn-success btn-sm"
                        >
                            Guardar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



