<app-nav></app-nav>

<!-- Sección Libros Informática -->
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row align-items-center">
        <div class="col">
            <div class="line">
            </div>
        </div>
        <div class="col-auto">
            <div class="title-recomendados" style="text-align: center;">Informática</div>
        </div>
        <div class="col">
            <div class="line">
            </div>
        </div>
    </div>
</div>
<!-- Navegación -->
<div class="container-fluid" style="padding: 25px 15px 15px 50px;">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" (click)="goToHome()"><a style="cursor: pointer; color: blue;">Inicio</a></li>
                    <li class="breadcrumb-item"><a id="categoria-libro"></a>Informática</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<!-- Libros Filtrados -->
<div class="contenedor">
    <div *ngFor="let libro of librosFiltrados" class="card" style="padding: 15px 5px 5px 5px;">
        <a (click)="verDetalles(libro.id)" style="cursor: pointer;">
            <div class="box-1">
                <img [src]="libro.imagen" [alt]="libro.titulo" />
            </div>
        </a>
        <div class="card-content">
            <h3 class="card-title">{{ libro.titulo }}</h3>
            <h5 class="card-title" style="font-size: 14px; color: rgb(15, 137, 143);">{{ libro.autor }}</h5>
            <h5 class="card-title" style="font-size: 10px; color: rgb(15, 137, 143);">{{ libro.editorial }}</h5>
            <p class="card-price">Precio: ${{ libro.precio }}</p>
            <button (click)="agregarAlCarrito(libro)" class="add-to-cart-btn">Agregar al Carrito</button>
        </div>
    </div>
</div>

<!-- Paginación -->
<div class="container-fluid" style="margin-bottom: 100px;">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


<footer class="footer">Todos los derechos reservados</footer>