<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" (click)="goToHome()">
                <img src="/assets/img/nav/logo.png" alt="Logo" style="width: 120px; height: auto; margin-right: 10px;"> <!-- Ajusta el tamaño del logo aquí -->
                Table Space
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" (click)="goToHome()">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categorías
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-center" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item">Estrategia</a></li>
                            <li><a class="dropdown-item">Familiar</a></li>
                            <li><a class="dropdown-item">Partida Rápida</a></li>
                            <li><a class="dropdown-item">Cooperativo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="goToContacto()">Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li *ngIf="username != null" class="nav-item" style="background: none !important;">
                        <a class="nav-link" id="nombre-usuario">{{username}}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-carrito" id="avatarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/assets/img/nav/avatar.png" alt="LoginLogo" width="30" height="30">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end text-center" style="color: white;" aria-labelledby="avatarDropdown">
                            <li *ngIf="username == null"><a class="dropdown-item" style="font-size: 15px; color: black !important;" (click)="goToLogin()">Iniciar Sesión</a></li>
                            <li><a class="dropdown-item" style="font-size: 15px; color: black !important;" (click)="goToPerfil()">Mi Perfil</a></li>
                            <li><a class="dropdown-item" style="font-size: 15px; color: black !important;" (click)="cerrarSesion()">Cerrar sesión</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown-carrito">
                        <a class="nav-carrito" style="cursor: pointer;">
                            <img src="/assets/img/nav/carro-de-la-compra.png" alt="Carrito" width="30" height="30">
                        </a>
                        <div class="dropdown-content">
                            <div class="carrito-items">
                                <!-- Aquí se agregarán los productos -->
                            </div>
                            <div class="carrito-total text-center mt-4">
                                <strong></strong>
                            </div>
                            
                            <button class="btn-limpiar-carrito" onclick="limpiarCarrito()">Limpiar Carrito</button>
                            <button class="btn-ver-carrito">Ir a Pagar</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row" style="background-color: black; color: white; font-size: 16px; padding: 8px;">
        <div class="col text-center">
            DESPACHO GRATIS EN COMPRAS SOBRE LOS $35.000
        </div>
    </div>
</div>
<!-- Buscador Libros -->
<div class="container-fluid" style="padding: 20px; margin-top: 10px;">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <input class="form-control p-2" list="datalistOptions" id="exampleDataList" placeholder="Ingrese búsqueda">
            <datalist id="datalistOptions">
            <option value="Alas De Hierro">
            <option value="El Niño Que Perdio La Guerra">
            </datalist>
        </div>
    </div>
</div>

<!-- Sección Juegos Destacados -->
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row align-items-center">
        <div class="col">
            <div class="line">
            </div>
        </div>
        <div class="col-auto">
            <div class="title-recomendados" style="text-align: center; font-size: 40px;">Juegos Destacados</div>
        </div>
        <div class="col">
            <div class="line">
            </div>
        </div>
    </div>
</div>
<!-- Juegos -->
<div class="contenedor">
    <div *ngFor="let juego of juegos" class="card">
        <div class="box-1">
            <img [src]="juego.imagen" alt="{{ juego.titulo }}">
        </div>
        <div class="card-content">
            <h3 class="card-title">{{ juego.titulo }}</h3>
            <p class="card-price">{{ juego.precio }}</p>
            <button class="add-to-cart-btn">Agregar al Carrito</button>
        </div>
    </div>


</div>
<!-- Sección Promociones -->
<div class="title-recomendados" style="font-size: 40px;">Promociones</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto">
            <img src="/assets/img/promo.png" alt="promo" class="img-fluid" style="border-radius: 16px;">
        </div>
    </div>
</div>
<div class="contenedor">
    <!-- Libros en promocion -->
    <div id="contenedor-productos-promo">
    </div>
</div>
<!-- Sección Categorías Destacadas -->
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row align-items-center">
        <div class="col">
            <div class="line">
            </div>
        </div>
        <div class="col-auto">
            <div class="title-recomendados" style="text-align: center; font-size: 35px;">Categorías Destacadas</div>
        </div>
        <div class="col">
            <div class="line">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="/template/categorias/comics-mangas.html">
                <div class="contenedor-promocion">
                    <img src="/assets/img/logo-comics-mangas.png" alt="comics-mangas" class="img-fluid imagen-promocion">
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a href="/template/categorias/novelas.html">
                <div class="contenedor-promocion">
                    <img src="/assets/img/Novelas.png" alt="novelas" class="img-fluid imagen-promocion">
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a href="/template/categorias/autoayuda.html">
                <div class="contenedor-promocion">
                    <img src="/assets/img/Autoayuda.png" alt="autoayuda" class="img-fluid imagen-promocion">
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a href="/template/categorias/literatura.html">
                <div class="contenedor-promocion">
                    <img src="/assets/img/Literatura.png" alt="literatura" class="img-fluid imagen-promocion">
                </div>
            </a>
        </div>
    </div>
</div>
