<app-nav></app-nav>

<div class="container-fluid">
    <div class="row" style="background-color: black; color: white; font-size: 16px; padding: 8px;">
        <div class="col text-center">
            DESPACHO GRATIS EN COMPRAS SOBRE LOS $35.000
        </div>
    </div>
</div>
<!-- Buscador Libros -->
<div class="container-fluid" style="padding: 20px; margin-top: 10px;">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <input class="form-control p-2" list="datalistOptions" id="exampleDataList" placeholder="Ingrese búsqueda">
            <datalist id="datalistOptions">
            <option value="Alas De Hierro">
            <option value="El Niño Que Perdio La Guerra">
            </datalist>
        </div>
    </div>
</div>

<!-- Sección Juegos Destacados -->
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row align-items-center">
        <div class="col">
            <div class="line">
            </div>
        </div>
        <div class="col-auto">
            <div class="title-recomendados" style="text-align: center; font-size: 40px;">Juegos Destacados</div>
        </div>
        <div class="col">
            <div class="line">
            </div>
        </div>
    </div>
</div>
<!-- Juegos -->
<div class="contenedor">
    <div *ngFor="let juego of juegos" class="card">
        <a (click)="verDetalles(juego.id)" style="cursor: pointer;">
            <div class="box-1">
                <img [src]="juego.imagen" alt="{{ juego.titulo }}">
            </div>
        </a>
        <div class="card-content">
            <h3 class="card-title">{{ juego.titulo }}</h3>
            <p class="card-price">Precio: {{ juego.precio | currency }}</p>
            <button class="add-to-cart-btn" (click)="agregarAlCarrito(juego)">Agregar al Carrito</button>
        </div>
    </div>


</div>
<!-- Sección Promociones -->
<div class="title-recomendados" style="font-size: 40px;">Promociones</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-7">
            <img src="/assets/img/nav/Promo-web.png" alt="promo" class="img-fluid" style="border-radius: 16px;">
        </div>
    </div>
</div>
<div class="contenedor">
    <!-- Libros en promocion -->
    <div id="contenedor-productos-promo">
    </div>
</div>
