<app-nav></app-nav>

<div class="container-fluid" style="margin-top: 20px;">
    <div class="row align-items-center">
        <div class="col">
            <div class="line">
            </div>
        </div>
        <div class="col-auto">
            <div class="title-recomendados" style="text-align: center; font-size: 60px; margin-top: 30px;">Promociones</div>
        </div>
        <div class="col">
            <div class="line">
            </div>
        </div>
    </div>
</div>


<footer class="footer">Todos los derechos reservados</footer>
