<div
    id="encuesta-container"
    class="encuesta-overlay"
    *ngIf="encuestaVisible"
>
    <div class="encuesta-content">
        <button id="cerrar-encuesta" class="btn-cerrar" (click)="cerrarEncuesta()">✖</button>
        <h2 class="text-center my-4">Encuesta de Preferencias de Lectura</h2>
        <form [formGroup]="encuestaForm" (ngSubmit)="onSubmit(encuestaForm.value)">
            <div class="has-validation">
                <div class="is-invalid">
                    <div>
                        <label for="nombre" class="form-label">Nombre</label>
                        <input
                            type="text"
                            class="form-control"
                            id="nombre"
                            formControlName="nombre"
                            required
                        />
                    </div>
                </div>
                <div class="invalid-feedback" *ngIf="validarCampo('nombre')">
                    Por favor, ingrese un nombre válido.
                </div>
            </div>
            <div class="has-validation">
                <div class="is-invalid">
                    <div>
                        <label for="email" class="form-label">Email</label>
                        <input
                            type="email"
                            class="form-control"
                            id="email"
                            formControlName="email"
                            required
                        />
                    </div>
                </div>
                <div class="invalid-feedback" *ngIf="validarCampo('email')">
                    Por favor, ingrese un email válido.
                </div>
            </div>
            
            
            <div class="mb-3">
                <label for="categoria-preferencia" class="form-label">Categoría de Preferencia</label>
                <select
                    class="form-select"
                    id="categoria-preferencia"
                    formControlName="categoriaPreferencia"
                    required
                >
                    <option value="">Selecciona una categoría</option>
                    <option value="novelas">Novelas</option>
                    <option value="comics-mangas">Comics y Mangas</option>
                    <option value="literatura">Literatura</option>
                    <option value="informatica">Computación e Informática</option>
                    <option value="autoayuda">Autoayuda</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="feedback" class="form-label">Comentarios Adicionales</label>
                <textarea
                    class="form-control"
                    id="feedback"
                    formControlName="feedback"
                    rows="4"
                ></textarea>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" [disabled]="!encuestaForm.valid">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>