<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" (click)="goToHome()">
                <img src="/assets/img/nav/juego-de-mesa.png" alt="Logo" style="width: 50px; height: auto; margin-right: 10px;"> <!-- Ajusta el tamaño del logo aquí -->
                Table Space
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" (click)="goToHome()">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categorías
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-center" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item">Estrategia</a></li>
                            <li><a class="dropdown-item">Familiar</a></li>
                            <li><a class="dropdown-item">Partida Rápida</a></li>
                            <li><a class="dropdown-item">Cooperativo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="goToContacto()">Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li *ngIf="username != null" class="nav-item" style="background: none !important;">
                        <a class="nav-link" id="nombre-usuario">{{ username }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-carrito" id="avatarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/assets/img/nav/avatar.png" alt="LoginLogo" width="30" height="30">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end text-center" style="color: white;" aria-labelledby="avatarDropdown">
                            <li *ngIf="username == null"><a class="dropdown-item" style="font-size: 15px; color: black !important;" (click)="goToLogin()">Iniciar Sesión</a></li>
                            <li><a class="dropdown-item" style="font-size: 15px; color: black !important;" (click)="goToPerfil()">Mi Perfil</a></li>
                            <li><a class="dropdown-item" style="font-size: 15px; color: black !important;" (click)="cerrarSesion()">Cerrar sesión</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown-carrito">
                        <a class="nav-carrito" style="cursor: pointer;">
                            <img src="/assets/img/nav/carro-de-la-compra.png" alt="Carrito" width="30" height="30">
                        </a>
                        <div class="dropdown-content">
                            <div class="carrito-items">
                                <!-- Aquí se agregarán los productos -->
                            </div>
                            <div class="carrito-total text-center mt-4">
                                <strong></strong>
                            </div>
                            
                            <button class="btn-limpiar-carrito">Limpiar Carrito</button>
                            <button class="btn-ver-carrito">Ir a Pagar</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>