<div class="d-flex flex-column min-vh-100">
    <app-nav></app-nav>
    <div class="container-fluid flex-grow-1" style="margin-top: 40px;">
        <div class="row align-items-center">
            <div class="col">
                <div class="line">
                </div>
            </div>
            <div class="col-auto">
                <div class="title-recomendados" style="text-align: center; font-size: 40px;">Pago Exitoso</div>
            </div>
            <div class="col">
                <div class="line">
                </div>
            </div>
        </div>
    </div>
    
    <div class="container flex-grow-1">
        <!-- Detalle de la compra -->
        <div class="contenedor-detalle-compra">
            <h1 class="text-center" style="font-size: 25px; margin-top: 20px; margin-bottom: 20px;"><strong>Detalles del pedido</strong></h1>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="numero-pedido">
                        Pedido Número: <strong>1</strong>
                    </div>
                    <hr>
                    <div class="fecha-pedido">
                         Fecha: <strong>4 Noviembre, 2024</strong> 
                    </div>
                    <hr>
                    <div class="detalle-items">
                    </div>
                    <div class="envio" id="envio" *ngIf="calcularTotal() >= 35000; else envioGratis">
                        Envio: <strong>$3.990</strong>
                    </div>
                    <hr>
                    <ng-template #envioGratis>
                        <div class="col-auto">
                            Envio: <strong>Gratis</strong>
                        </div>
                    </ng-template>
                    <div class="forma-pago">
                        Forma de Pago: <strong>Crédito</strong>
                    </div>
                    <div id="total" class="total text-center mt-4 mb-3" style="font-size: 22px; color: brown;">
                        <strong>Total: {{ calcularTotal() | number:'1.0-0'}}</strong>
                    </div>
                </div>
            </div>
                </div>
    </div>
    <footer class="footer">Todos los derechos reservados</footer>
</div>


