<app-nav></app-nav>

<div class="container-fluid" style="margin-top: 40px;">
    <div class="row align-items-center">
        <div class="col">
            <div class="line">
            </div>
        </div>
        <div class="col-auto">
            <div class="title-recomendados" style="text-align: center; font-size: 40px;">Pago Exitoso</div>
        </div>
        <div class="col">
            <div class="line">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto">
            <!-- Detalle de la compra -->
            <div class="contenedor-detalle-compra">
                <h1 class="text-center" style="font-size: 25px; margin-top: 20px; margin-bottom: 20px;">Detalles del pedido</h1>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="numero-pedido">
                            Pedido Número: 1
                        </div>
                        <hr>
                        <div class="fecha-pedido">
                            Fecha: 4 Noviembre, 2024
                        </div>
                        <hr>
                        <div class="detalle-items">
                        </div>
                        <div class="envio" id="envio">
                            Envio: $3.990
                        </div>
                        <div class="forma-pago">
                            Forma de Pago: Crédito
                        </div>
                        <div id="total" class="total text-center mt-4" style="font-size: 25px;">
                            <strong></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
